<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 

	<title>404-Moistuer Meter</title>
	<!--stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>500</h1>
				<h2>Internal Server Error</h2>
			</div><br>
			<a href="{% url 'index' %}">Homepage</a>
		</div>
	</div>

</body> 

</html>
